.text-center{
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	min-height: 60vh;
}
.mdl-card {
	display: flex;
	min-width: 50vw;
	flex-direction: column;
	margin: auto;
}

.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-card__title{
	background-color: #43909b;
	height: 10vh;
	margin-bottom: auto;
}
.mdl-card__title-text {
	text-align: center;
	color: whitesmoke;
}

.mdl-card__actions{
	background-color: #93D9FF;
	margin-top: auto;
	padding: 2.5vh 2.5vw;
	text-align: center;
}
