body{
	background-color: #5D7B7F;
}
.text-center{
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	min-height: 50vh;
	height: 100vh;
}

.mdl-card {
	display: flex;
	min-width: 50vw;
	flex-direction: column;
	margin: auto;
}

.mdl-card_home_title{
	height: 12.5vh;
	margin-bottom: auto;
	background: url('../img/RGMark.png') Right / contain no-repeat;
	background-color: #43909b;
}

.mdl-card_results_title{
	height: 10.5vh;
	margin-bottom: auto;
	background: url('../img/RGMark.png') Right / contain no-repeat;
	background-color: #FFAE6E;
	/*padding: .5rem;*/
}

.mdl-card_home_title-text {
	text-align: center;
	color: whitesmoke;
}

.mdl-card_results_title-text {
	text-align: center;
	color: whitesmoke;
}

.mdl-card__actions{
	background-color: #7ADAE7;
	margin-top: auto;
	padding: 2.5vh 2.5vw;
	text-align: center;
}

.mdl-typography--subhead-color-contrast, .mdl-typography--caption{
	padding: 0 .5rem;
}

.mdl-typography--underline{
	text-decoration: underline;
}

img { 
	max-width: 80%;
}
.card-image{
	margin: auto;
	padding: .5rem 0;
}
.padding {
	padding: 1rem 1rem;
}

/* Animation Styles */

[ui-view].ng-enter, [ui-view].ng-leave {
    transition:all .8s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: top;
}

[ui-view].ng-enter {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(0, 600px, 0);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}
