<div>
	<div class="container" >
			<div class="mdl-card mdl-shadow--2dp">
				<div class="mdl-card_home_title">
					<h3 class="mdl-card_home_title-text">Prize Draw Competition</h3>
				</div>
				<p class="mdl-typography--subhead-color-contrast mdl-typography--underline"> Instructions: </p>
				<p class="mdl-typography--caption text-center"> In order to get this app to work properly, a correctly formatted excel xlsx file is required.<br> The file needs to be a single sheet with the first row will be taken as the headings. As shown below..</p>
				<img src="../img/correct_formatted_excel_sheet.jpg" alt="correctly formatted excel sheet" class="card-image">
				<p class="mdl-typography--caption text-center"> Please note that the headers cannot have any spaces in them.</p>
				<p class="mdl-typography--caption text-center"> Once you have a properly formatted file click on the button below and select the excel xlsx file to begin. </p>
				<div class="mdl-card_home_actions mdl-card--border">
					<js-xls onread="read"></js-xls>
				</div>
			</div>
	</div>
</div>